@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");

body {
    font-family: "poppins", sans-serif;
    font-size: 20px;
    background-size: cover;
    background-image: url("/static/images/Background.jpeg");
}

.header{
    background-color: rgba(255, 255, 255, 0.687);
}

.container {
    margin: auto;
    margin-top: 5%;
    max-width: 400px;
    padding: 25px;
    border: 4px solid #100404;
    background-color: rgba(255, 255, 255, 0.557);
    border-radius: 4px;
}

h2{
    margin-bottom: 30px;
}

.container h2 {
    text-align: center;
}

.container input[type="text"],
.container input[type="password"],
input {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #150606;
    box-sizing: border-box;
    border-radius: 4px;
    font-size: 19px;
}

.container button {
    background-color: #4caf50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 17px;
    border-radius: 3px;
}

.signin {
    font-size: 0.9em;
    text-align: center;
    margin: 25px 0 10px;
}

.signin p a {
    font-weight: 600;
}

.container a {
    font-size: small;
}