<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" href="/static/images/logo.png">
    <title>Agritech | Dashboard</title>
    <meta name="keywords" content="agritech, precise, farming Revolution, agriculture">
    <!-- Important Scipts -->
    <script src="https://cdn.plot.ly/plotly-2.27.1.min.js" charset="utf-8"></script>
    <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"
        integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
        crossorigin="anonymous"></script>
    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="../static/sidebar.css">
</head>

<body>
    <div class="sidebar">
        <div class="top">
            <div class="logo">
                <a href="/">
                    <p>AgriTech</p>
                </a>
                <img src="../static/images/logo.png" alt="logo">
            </div>
            <i class="bx bx-menu" id="btn"></i>
        </div>
        <div class="user">
            <img src="../static/images/user.png" alt="user" class="user-img">
            <div class="user-name">
                <p id="username">{{ user }}</p>
            </div>
        </div>
        <ul>
            <li>
                <a href="/userDashboard">
                    <i class="bx bxs-grid-alt"></i>
                    <span class="nav-item">Dashboard</span>
                </a>
                <span class="tooltip">Dashboard</span>
            </li>
            <li> <a href="/history">
                    <i class="bx bx-history"></i>
                    <span class="nav-item">History</span>
                </a>
                <span class="tooltip">History</span>
            </li>
            <li>
                <a href="/guide">
                    <i class='bx bx-book-content'></i>
                    <span class="nav-item">Guide</span>
                </a>
                <span class="tooltip">Guide</span>
            </li>
            <li>
                <a href="/logout">
                    <i class='bx bx-log-out'></i>
                    <span class="nav-item">Logout</span>
                </a>
                <span class="tooltip">Logout</span>
            </li>
        </ul>
    </div>

    <div class="main-content">
        <div class="container">
            <div class="head">
                <h1>Real Time Analysis:</h1>
            </div>
            <div class="GraphArea">
                <div id="chart"></div>
                <div class="Suggestion-Container">
                    <h1>Suggestions: </h1>
                    <div class="Suggestion-Box">
                        <li>Put Some Water in the Soil</li>
                    </div>
                    <div class="button-container">
                        <button class="fetchButton">Fetch Real-time Data</button>
                    </div>
                </div>
            </div>
            <div class="cards">
                <div class="Temperature card">
                    <p>Temperature</p>
                    <div class="Temperature-progress">
                        <div class="Temperature-value">Nan</div>
                    </div>
                    <div class="Temperature-condition">NAN
                    </div>
                </div>
                <div class="Humidity card">
                    <p>Humidity</p>
                    <div class="Humidity-progress">
                        <div class="Humidity-value">Nan</div>
                    </div>
                    <div class="Humidity-condition">NAN
                    </div>
                </div>
                <div class="Moisture card">
                    <p>Moisture</p>
                    <div class="Moisture-progress">
                        <div class="Moisture-value">Nan</div>
                    </div>
                    <div class="Moisture-condition">NAN
                    </div>
                </div>
            </div>
            <div class="result">
            </div>
        </div>
    </div>
</body>
<script src="../static/UltimateSocketScript.js"></script>
<script src="../static/script.js"></script>
</html>